@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Tip Calculator <a href="tipcalculator">Go here to Tip Calculation</a>.</p>
</div>
