@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@if(2==1){
    <h1>i am syamil</h1>
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="syamil.html">building Web apps with ASP.NET Core</a>.</p>
</div>
